{% extends 'base.html' %}

{% block title %}Home - Fitnezz{% endblock %}

{% block content %}
<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box" style="background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
            url({{ url_for('static', filename='images/older_posts/older_posts_5.jpg') }});">
                <div class="content">
                    <h3>Participate in Exercise Paradigm</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolorem modi</p>
                    <div class="button">
                        <a href="{{ url_for('api.track_nutrition') }}" class="btn btn-1">Get Started</a>
                        <a href="{{ url_for('api.download_nutrition_report') }}" class="btn">Download</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide box" style="background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
            url({{ url_for('static', filename='images/older_posts/older_posts_1.jpg') }});">
                <div class="content">
                    <h3>Health is wealth</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolorem modi</p>
                    <div class="button">
                        <a href="{{ url_for('api.track_nutrition') }}" class="btn btn-1">Get Started</a>
                        <a href="{{ url_for('api.download_nutrition_report') }}" class="btn">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
